@model IEnumerable<CinemaApp.ViewModels.MovieGenreViewModel>

<body>
     <div class="mx-auto d-flex flex-wrap justify-content-center justify-content-lg-start" style="max-width:1088px;">
         @foreach ( var movie in Model)
         {

             @: @{ 
                 var photoPath = "~/Photo/" + (movie.Movie.PhotoPath ?? "noimage.jpg");
             }
         <div class="card movie-card m-3"
             style="width: 13.8rem;">
             <a asp-action="Details" asp-route-id="@movie.MovieID" style="color:black; text-decoration:none;">
                 <img class="card-img-top" src="@photoPath" asp-append-version="true" style="max-height: 220px;min-height: 220px;max-width: 220.9px;min-width: 220.9px;" />
                 <div class="card-body" style="padding-bottom:0; height:44px;">
                     @if (User.IsInRole("Administrator"))
                     {
                         <div class="dropdown float-right">
                             <a href="#" class="dropdown-toggle text-muted arrow-none" data-toggle="dropdown" aria-expanded="false">
                                 <i class="fas fa-ellipsis-v font-18"></i>
                             </a>
                             <div class="dropdown-menu dropdown-menu-right">
                                 <a class="dropdown-item btnEditTask" asp-action="Edit" asp-route-id="@movie.MovieID">
                                     <i class="fas fa-pencil-alt mr-1"></i>
                                     Editeaza
                                 </a>
                                 <a class="dropdown-item btnTaskDelete" asp-action="Delete" asp-route-id="@movie.MovieID">
                                     <i class="fas fa-trash mr-1"></i>
                                     Sterge
                                 </a>
                             </div>
                         </div>
                     }
                     @if (movie.Name.Count() < 10)
                     {
                         <h5 class="card-title mb-0"> @movie.Name</h5>
                     }
                     else
                     {
                         <h4 class="card-title mb-0">@movie.Name</h4>
                     }
                 </div>
                 <div class="card-footer text-muted" style="background: none; border-top: none;">
                     <div class="d-flex">
                         <p class="card-text mb-0"><small>@movie.dateRelease</small></p>

                     </div>
                 </div>
             </a>
         </div>

         }
     </div>
    @*<div class="wrapper mm-active">
        <div class=" content-page">
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        @foreach (var movie in Model)
                        {

                            @: @{
                                var photoPath = "~/Photo/" + (movie.Movie.PhotoPath ?? "noimage.jpg");
                            }


                            <div class="col-md-6 col-xl-3">
                                <div class="card d-block">
                                    <img class="card-img-top" src="@photoPath" style="max-height: 150px;min-height: 150px;" asp-append-version="true" alt="movie image-cap" />
                                    <div class="card-body position-relative">
                                        @if(User.IsInRole("Administrator"))
                                        { 
                                        <div class="dropdown float-right">
                                            <a href="#" class="dropdown-toggle text-muted arrow-none" data-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-v font-18"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item btnEditTask" asp-action="Edit" asp-route-id="@movie.MovieID">
                                                    <i class="fas fa-pencil-alt mr-1"></i>
                                                    Editeaza
                                                </a>
                                                <a class="dropdown-item btnTaskDelete" asp-action="Delete" asp-route-id="@movie.MovieID">
                                                    <i class="fas fa-trash mr-1"></i>
                                                    Sterge
                                                </a>
                                            </div>
                                        </div>
                                        }
                                        <h4 class="mt-0">
                                            <a class="text-title">@movie.Name</a>
                                        </h4>
                                        <div class="row ">

                                            <a class=" ml-2 btn-sm btn-outline-info" asp-action="Details" asp-route-id="@movie.MovieID">
                                                Detalii
                                            </a>

                                            <a class=" ml-auto btn-sm btn-outline-success  " asp-action="ListOfSeats" asp-controller="Seats" asp-route-id="@movie.MovieID">
                                                Rezervă
                                            </a>

                                        </div>
                                    </div>
                                </div>

                            </div>



                        }
                    </div>

                </div>
            </div>
        </div>
    </div>*@

</body>
<style>

    /*.container {
        display: inline-block;
    }*/
    /* drop-down actions*/
    .float-right {
        float: right !important;
    }

    .dropdown-toggle {
        white-space: nowrap;
        content: inherit !important;
    }

        .dropdown-toggle::after {
            content: inherit !important;
        }

    .movie-card {
    cursor: pointer;
}
 .movie-card:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 }

</style>


































@*@model IEnumerable<CinemaApp.ViewModels.MovieGenreViewModel>

    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReleaseDate)
                </th>
                <th>
                    Genre
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.MovieID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.MovieID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.MovieID">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
