@model CinemaApp.ViewModels.CinemaHall
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

</head>


<body>
    <h1 class="title"> Rezerva loc :</h1>

    <div class="theatre">

        <div class="cinema-seats left">
            @foreach (var leftHall in Model.LeftHall)
            {
                <div class=@($"cinema-row row-{leftHall.RowNr}")>
                    @foreach (var seats in leftHall.Seats)
                    {
                        if (@seats.Status == "Liber")
                        {
                            <div class="seat">
                                <div class="text-center" data-id="@seats.SeatNr">@seats.SeatNr</div>
                            </div>
                        }
                        else if (seats.Status == "Ocupat")
                        {
                            <div class="seat active" style="pointer-events: none">
                                <div class="text-center" data-id="@seats.SeatNr"><span>@seats.SeatNr (R)</span></div>
                            </div>
                        }
                    }
                </div>
            }
        </div>


        <div class="cinema-seats right">
            @foreach (var rightHall in Model.RightHall)
            {
                <div class=@($"cinema-row row-{rightHall.RowNr}")>
                    @foreach (var seats in rightHall.Seats)
                    {

                        if (@seats.Status == "Liber")
                        {
                            <div class="seat">
                                <div class="text-center" data-id="@seats.SeatNr">@seats.SeatNr</div>
                            </div>
                        }
                        else if (seats.Status == "Ocupat")
                        {
                            <div class="seat active" style="pointer-events: none">
                                <div class="text-center" data-id="@seats.SeatNr"><span>@seats.SeatNr (R)</span></div>
                            </div>
                        }

                    }
                </div>
            }
        </div>


    </div>
    <div class="screen text-center">SCREEN</div>

    <!-- Modal Confirmation-->
    <div class="modal fade" id="modalConfirm" tabindex="-1" role="dialog" aria-labelledby="modalConfirmTitle" aria-hidden="true">

        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <label class="modal-title"> Confirmare rezervare</label>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div id="reservedRole" class="">
                    <div class="modal-body">
                        <label for="nameActualRole" style="text-align:center">Selectati un rol:</label>
                        <select class="form-control col-lg-6" id="nameActualRole" style="text-align:center">
                            <option hidden>Roluri</option>
                            <option>Administrator</option>
                            <option>Angajat</option>
                            <option>Client</option>
                        </select>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-light text-left">Inapoi</button>
                        <div class="text-right">
                            <button type="button" class="btn btn-primary btnSave" id="save-button" data-dismiss="modal">Confirma</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="reserve">
        <div class=" card-body reservation">
            <p> <strong> Film :</strong> @Model.MovieName</p>
            <p> <strong> Data : </strong> <span>@Model.Date</span></p>
            <p> <strong> Scaun : </strong> </p>

            <ul id="selected-seats"></ul>
            <p><strong> Locuri rezervate : </strong> <span id="counter">0</span></p>
            <p><strong>Total : </strong><span id="total">0</span> RON</p>
            <div class="confirm-form">
                <button class="btn-light btnReserved" data-id="@Model.MovieID">Confirmare</button>
            </div>
            <div id="legend"> legenda</div>
        </div>
        <div style="clear:both"></div>
    </div>
</body>






<style>
    .screen {
        position: absolute;
        bottom: 0;
        width: 50%;
        background: #f8f9fa;
        border-color: #f8f9fa;
        color: #212529 !important;
        margin-bottom: 230px;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
        margin-left: 15px;
        margin-right: 15px;
        border-radius: 5px;
    }
    


    /* Reservation panel -----------------*/
    .reservation {
        background: #c6cace;
        float: right;
        position: relative;
        width: 320px;
        height: 450px;
    }

        .reservation p {
            line-height: 26px;
            font-size: 17.5px;
            margin-bottom: 1.5rem;
            margin-top: revert;
        }
    /* azure aliceblue ivory */
    #selected-seats {
        max-height: 150px;
        overflow-y: auto;
        width: 200px;
        color: ivory;
    }
    /*#selected-seats li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}*/

    /*---finish */
    body {
        background: #c6cace;
    }

    .theatre {
        display: flex;
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-50%, -50%);
    }

    .cinema-seats {
        display: flex;
    }

        .cinema-seats .seat {
            cursor: pointer;
        }

            .cinema-seats .seat:hover:before {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 7px;
            }

            .cinema-seats .seat.active:before {
                content: '';
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.6);
                border-radius: 7px;
            }

    .left .cinema-row {
        transform: skew(-15deg);
        margin: 0 6px;
    }

    .left .seat {
        width: 35px;
        height: 50px;
        border-radius: 7px;
        background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
        margin-bottom: 10px;
        transform: skew(20deg);
        margin-top: -32px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }



    .right {
        margin-left: 70px;
    }

        .right .cinema-row {
            transform: skew(7deg);
            margin: 0 6px;
        }

        .right .seat {
            width: 35px;
            height: 50px;
            border-radius: 7px;
            background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041, #F3686A);
            margin-bottom: 10px;
            transform: skew(-8deg);
            margin-top: -32px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }




    .text-center {
        color: #F3686A;
    }

    .title {
        color: #2517174f;
    }
</style>


<script>
    $(document).ready(function () {
        $(".confirm-form *").prop("disabled", true);
        let count = 0;

        $('.cinema-seats .seat').on('click', function (e) {
            e.preventDefault();

            var seatNr = $(this).children('div').data('id');
            var $cart = $('#selected-seats');

            var price = 20;
            $total = $('#total');

            if (!$(this).hasClass('active')) {
                $('<div>Scaunul ' + (seatNr) + '</div>')
                    .attr('id', 'seat-item-' + seatNr)
                    .data('id', seatNr)
                    .appendTo($cart);
                $(this).toggleClass('active');
                var theStatus = 'selected'
                $(".confirm-form *").prop("disabled", false);
                count++;
                $('#counter').empty().append(count);
                $total.text(recalculateTotal(count, price));
            }


            else if (theStatus = 'selected' && $(this).hasClass('active')) {
                $('#seat-item-' + seatNr).remove();
                $(this).removeClass('active');
                count--;
                if (count == 0) {
                    $(".confirm-form *").prop("disabled", true);
                }
                $('#counter').empty().append(count);
                $total.text(recalculateTotal(count, price));
            }

            else {
                return "unavailable";
            }
        });
    });


    function recalculateTotal(count, price) {
        var total = 0;
        for (var i = 1; i <= count; i++) {
            total += price;
        }
        return total;
    }




    $('button.btnReserved').on('click', function (e) {
        debugger;
        e.preventDefault();
        var movieID = $(this).closest('button').data('id');
        $('#modalConfirm').data('id', movieID).modal('show');
        debugger;
    })

</script>